html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header, footer, main, aside, section {
    position: absolute;
    width: 100%;
}

header, footer, aside {
    background: lightgrey;
}

header, footer, menu, section {
    position: absolute;
    width: 100%;
}

header {
    height: 10px;
}

footer {
    height: 10px;
}

footer {
    bottom: 0;
}

main {
    top: 10px;
    bottom: 10px;
}

aside, section {
    top: 0;
    bottom: 0;
}

aside {
    width: 200px;
}

section {
    right: 0;
    left: 200px;
    width: auto;
}

section {
    overflow-y: scroll;
}

.circular {
    display: block;
    margin: 0 auto;
    width: 85%;
    border-radius: 50%;
    padding-bottom: 10px;
}